*{
	padding: 0;
	margin: 0;
	
}
@font-face {
    font-family: 'franklin_gothic_fsdemi';
    src: url('../font/franklingothic-demi.ttf') format('woff2'),
         url('../font/franklingothic-demi-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'franklin_gothic_fsbook';
    src: url('../font/franklingothic-book.ttf') format('woff2'),
         url('../font/franklingothic-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body
	{
		font-family: "franklin_gothic_fsbook";
		background: #005883;
		color: #FFFFFF;
		font-size: 2em;
	}


	
}

h1	{
	font-family: "franklin_gothic_fsdemi";
	color:  #F0B429;
	margin: 0.25em auto;
	text-align: center;
	text-shadow: 2px 2px 5px rgba(255,255,255,0.5);

}

img#logo-index{
	max-width: 100%;
    height: auto!important;
	width: 200px;
    height: 200px;
    display: block;
    margin: 0px 10px 10px;
    position: relative;
    left: 12em;
	}
img{
	max-width: 100%;
    height: auto!important;
	width: 100px;
    height: 100px;
    display: block;
    margin: 0px 1px 1px;
    position: relative;
    top: 0px;
    left: 40px;
    

    
    
	}

/*header,nav{
	background: #FFFFFF;
	border-radius: 0.8em;
	margin: 0.5em auto;
	max-width: 960px;
	padding: 0.25em;
	text-align: center;

}*/


/*botones de red sociales*/
.social {
	position: fixed; /* Hacemos que la posición en pantalla sea fija para que siempre se muestre en pantalla*/
	left: 0; /* Establecemos la barra en la izquierda */
	top: 200px; /* Bajamos la barra 200px de arriba a abajo */
	z-index: 2000; /* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */
}
 
	.social ul {
		list-style: none;
	}
 
	.social ul li a {
		display: inline-block;
		color:#fff;
		background: #000;
		padding: 10px 15px;
		text-decoration: none;
		-webkit-transition:all 500ms ease;
		-o-transition:all 500ms ease;
		transition:all 500ms ease; /* Establecemos una transición a todas las propiedades */
	}
 
	.social ul li .icon-facebook {background:#3b5998;} /* Establecemos los colores de cada red social, aprovechando su class */
	.social ul li .icon-twitter {background: #00abf0;}
	.social ul li .icon-googleplus {background: #d95232;}
	.social ul li .icon-pinterest {background: #ae181f;}
	.social ul li .icon-mail {background: #666666;}
 
	.social ul li a:hover {
		background: #000; /* Cambiamos el fondo cuando el usuario pase el mouse */
		padding: 10px 30px; /* Hacemos mas grande el espacio cuando el usuario pase el mouse */
	}

nav{
	/*Bordes redondeados*/
	-webkit-border-radius:10px;/*Para chrome y Safari*/
	-moz-border-radius:10px;/*Para Firefox*/
	-o-border-radius:10px;/*Para Opera*/
	border-radius:10px;/*El estandar por defecto*/
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#CCC));/*Para chrome y Safari*/
	/*Degradados*/
	background-image: -moz-linear-gradient(top center, #FFF, #CCC);/*Para Firefox*/
	background-image: -o-linear-gradient(top, #FFF, #CCC);/*Para Opera*/
	background-image: linear-gradient(top, #FFF, #CCC);/*El estandar por defecto*/
	overflow:hidden;
	padding:10px;
	width:950px;
}
nav ul{
	list-style:none;
	margin:0 10px 0 10px;
	padding:0;
}
nav ul li{
	/*Bordes redondeados*/
	-webkit-border-radius:5px;/*Chrome y Safari*/
	-moz-border-radius:5px;/*Firefox*/
	-o-border-radius:5px;/*Opera*/
	border-radius:5px;/*Estandar por defecto*/
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
	margin-right:10px;
	text-align:center;
	/*Sombras para texto, los mismos parametros que box-shadow*/
	text-shadow: 0px 1px 0px #FFF;
}
nav ul li:hover{
	/*Degradado de fondo*/
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FFF), to( #E3E3E3));/*Chrome y Safari*/
	background-image: -moz-linear-gradient(top center, #FFF, #E3E3E3);/*Firefox*/
	background-image: -o-linear-gradient(top, #FFF, #E3E3E3);/*Opera*/
	background-image: linear-gradient(top, #FFF, #E3E3E3);/*Estandar por defecto*/
	/*Sombras para bloques o cajas*/
	-webkit-box-shadow:  1px -1px 0px #999;/*Chrome y Safari*/
	-moz-box-shadow:  1px -1px 0px #999;/*Firefox*/
	-o-box-shadow:  1px -1px 0px #999;/*Opera*/
	box-shadow:  1px -1px 0px #999;/*Estandar por defecto*/
	border:1px solid #E3E3E3;
}
nav ul li a{
	color:#999;
	display:block;
	padding:10px;
	text-decoration:none;
	/*Transiciones: Tiempo, Efecto y Propiedades aplicadas*/
	-webkit-transition: 0.4s linear all;/*Chrome y Safari*/
  	-moz-transition: 0.4s linear all;/*Firefox*/
  	-o-transition: 0.4s linear all;/*Opera*/
  	transition: 0.4s linear all;/*Estandar por defecto*/
}
nav ul li a:hover {
	color:#000;
}








#navegacion{
	transform: translate3d(0,0,1px);
    margin-bottom: 20px;
    height: 45px;
    width: 100%;
    z-index: 101;
}
figcaption{
	color: black; 
	  
}
.objetivo, .especifico{
	font-family: "franklin_gothic_fsdemi";
	font-size: 1.5em;
	color: #F0B429;
	margin: 0.25em auto;
	
	text-shadow: 2px 2px 5px rgba(255,255,255,0.5);
	}
 	.primero{
 	background: url("../img/fondounad.jpg");
	margin: 0.5em auto;
	max-width: 960px;
	padding: 0;
	background: #FFFFFF;
	

	background-repeat: no-repeat;
	
	margin: auto;
	
	
	
}
 	.segundo,aside{
	font-family: "franklin_gothic_fsbook";
	font-size: 0.58em;
	left: 200px;

	background: #1E6381;
	border-radius: 0.5em;
	display: inline-block;
	margin: 0.2em auto;
	max-width: 900px;
	min-height: 200px
	vertical-align: top;
		
	width: 65%;
}
 
aside{
	vertical-align: top;
	width: 30%;
}

article{
	background: #011E30;
	border-radius: 0.5em;
	min-height: 140px;
	padding: 0.1em;
}


